<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
    <update id="update">
        update setmeal
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="updateTime !=null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByIds">
        delete from setmeal
        where id in
        <foreach item="id" collection="ids" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="findAll" resultType="com.sky.entity.Setmeal">
        select * from setmeal
        <where>
            <if test="categoryId !=null">
                category_id = #{categoryId}
            </if>
            <if test="status !=null">
                and status = #{status}
            </if>
            <if test="name !=null">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <resultMap id="SetmealVO" type="com.sky.vo.SetmealVO">
        <id property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="description" column="description"/>
        <result property="image" column="image"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="status" column="status"/>
        <result property="updateTime" column="update_time"/>
        <collection property="setmealDishes" ofType="com.sky.entity.SetmealDish">
            <id property="id" column="sdId"/>
            <result property="copies" column="sdCopies"/>
            <result property="dishId" column="sdDishID"/>
            <result property="name" column="sdName"/>
            <result property="price" column="sdPrice"/>
            <result property="setmealId" column="sdSetmealID"/>
        </collection>
    </resultMap>


    <select id="getByIdWithDish" resultMap="SetmealVO">
        select s.*,
               sd.copies sdCopies,
               sd.dish_id sdDishID,
               sd.id sdId,
               sd.name sdName,
               sd.price sdPrice,
               sd.setmeal_id sdSetmealID,
               c.name category_name
        from setmeal s
        left join setmeal_dish sd on s.id = sd.setmeal_id
        left join category c on s.category_id = c.id
        where s.id = #{id}
    </select>
    <select id="findByIds" resultType="com.sky.entity.Setmeal">
        select * from setmeal
        where id in
        <foreach item="id" collection="ids" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>